{% extends "pyhub/interface.html" %}
{% load repo %}

{% block content %}

<div id="section-history">
	<div class="panel panel-info">
		<div class="panel-heading">History for {{ path }}</div>
		
		<div class="list-group">
			{% for commit in history %}
			<p class="list-group-item">
				<a href="{% url 'repo_tree' branch=commit.id path=path %}"><strong>{{ commit.message }}</strong></a><br/>
				{{ commit.author|author_gravatar }} <small>{{ commit.author|author_link }} authored {{ commit.commit_time|timestamp|timesince }} ago</small>
			</p>
			{% endfor %}
		</div>
		
	</div>
{% endblock %}