{% extends "pyhub/interface.html" %}
{% load repo %}

{% block content %}

<div class="navbar navbar-default">

	<div>
		<ul class="nav navbar-nav">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					{{ "random"|glyphicon }} &nbsp; branch: <b>{{ branch_name }}</b> <b class="caret"></b></a>
				<ul class="dropdown-menu">
					{% for i in branches %}
					<li><a href="{% url 'repo_tree' branch=i path=path %}">{{ i }}</a></li>
					{% endfor %}
				</ul>
			</li>
		</ul>
		
		<p class="navbar-text">
			/
			<a class="navbar-link" href="{% url 'repo_tree' branch=branch path="" %}">{{ repo }}</a>
			{% for p in breadcrumbs %}
				/
				{% if not forloop.last %}<a class="navbar-link" href="{% for i in ''|ljust:forloop.revcounter0 %}../{% endfor %}{{ p }}">{% endif %}
				{{ p }}
				{% if not forloop.last %}</a>{% endif %}
			{% endfor %}
		</p>
	</div>
</div>

{% if commit %}
<div id="section-commit">
	<div class="panel panel-info">
	
		<div class="panel-heading">
			{{ commit.message }}
		</div>
	
		<div class="panel-body">
			<span class="pull-right"><small>commit {{ commit.id|commit_link }}</small></span>
			{{ commit.author|author_gravatar }} <small>{{ commit.author|author_link }} authored {{ commit.commit_time|timestamp|timesince }} ago</small>
		</div>
	
		<table class="table table-condensed">
		{% for icon, name, message, mode, time in listing %}
			<tr>
				<td>{{ icon|glyphicon }} &nbsp; <a href="{{ request.path }}/{{ name }}">{{ name }}</a></td>
				<td>{{ message }}</td>
				<td>{{ mode }}</td>
				<td class="min">{{ time|timesince }} ago</td>
			</tr>
		{% endfor %}
		</table>
	
	</div>
</div>
{% endif %}

{% if data %}
<div id="section-file">
	<div class="panel panel-default">
		<div class="panel-heading">
			{{ path }}
			<a class="pull-right" href="{% url 'repo_history' branch=branch path=path %}">{{ "sort-by-attributes-alt"|glyphicon }} History</a>
		</div>
		<div class="panel-body">{{ data }}</div>
	</div>
</div>
{% endif %}

{% endblock %}
