{% extends "pyhub/interface.html" %}
{% load repo %}

{% block content %}

{% include "repo/path_header.html" %}

{% if commit %}
<div id="section-commit">
	<div class="panel panel-info">
	
		<div class="panel-heading">
			{{ commit.message }}
		</div>
	
		<div class="panel-body">
			<span class="pull-right"><small>commit {% commit_link commit.id %}</small></span>
			{{ commit.author|author_gravatar }} <small>{{ commit.author|author_link }} authored {{ commit.commit_time|timestamp|timesince }} ago</small>
		</div>
	
		<table class="table table-condensed">
		{% for icon, name, message, mode, time in listing %}
			<tr>
				<td>{{ icon|glyphicon }} &nbsp; <a href="{% url 'repo_tree' repo=repo sha=ref_link path=path|add:'/'|add:name %}">{{ name }}</a></td>
				<td>{{ message }}</td>
				<td>{{ mode }}</td>
				<td class="min">{{ time|timesince }} ago</td>
			</tr>
		{% endfor %}
		</table>
	
	</div>
</div>
{% endif %}

{% if data %}
<div id="section-file">
	<div class="panel panel-default">
		<div class="panel-heading">
			{{ filename }}
			<small class="text-muted">&nbsp;{{ language }}</small>
			<a class="pull-right" href="{% url 'repo_history' repo=repo sha=sha path=filename %}">{{ "sort-by-attributes-alt"|glyphicon }} History</a>
		</div>
		<div class="panel-body">{{ data|safe }}</div>
	</div>
</div>
{% endif %}

{% endblock %}
