{% extends "interface.html" %}
{% import "macros.inc" as macros %}

{% block content %}

{% include "path_header.html" %}

<div id="section-commit">
	<div class="panel panel-info">
	
		<div class="panel-heading">
			{{ commit.message }}
		</div>
	
		<div class="panel-body">
			<div class="pull-right text-right"><small>
				commit {{ commit.id }}<br/>
				{% set c = commit.parents|length %}
				{{ c }} parents {% for p in commit.parents %}{{ macros.commit_link(repo, p) }} {% endfor %}
				</small>
			</div>
			{{ author_gravatar(commit.author) }} <small>{{ author_link(commit.author) }} authored {{ timesince(commit.commit_time) }} ago.</small>
		</div>
		
	</div>
</div>

<div id="section-files">

	{% for icon, file, sha, data in files %}
	<div class="panel panel-default">
		<div class="panel-heading">
			{{ macros.glyphicon(icon) }}
			{{ file }}
			<div class="pull-right">
				<a href="{{ macros.tree_url(repo, sha, file) }}">{{ macros.glyphicon("file") }} @{{ sha[:10] }}</a>
			</div>
		</div>
		<div class="panel-body">{{ data }}</div>
		</div>
	{% endfor %}

</div>

{% endblock %}