{% extends "interface.html" %}
{% import "macros.inc" as macros %}

{% block content %}

{% include "path_header.html" %}

<div id="section-history">
	<div class="panel panel-info">
		<div class="panel-heading">History for {{ path }}</div>
		
		<div class="list-group">
			{% for commit in history %}
			<p class="list-group-item">
				<a href="{{ macros.tree_url(repo, commit.id, path) }}"><strong>{{ commit.message }}</strong></a><br/>
				{{ author_gravatar(commit.author) }} <small>{{ author_link(commit.author) }} authored {# commit.commit_time|timestamp|timesince #} ago</small>
			</p>
			{% endfor %}
		</div>
		
	</div>
{% endblock %}