{% import "macros.inc" as macros %}
<div class="navbar navbar-default">

	<div>
		<ul class="nav navbar-nav">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					{# "random"|glyphicon #} &nbsp; {{ sha_type }}: <b>{{ ref_name }}</b> <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li class="dropdown-header">Branches</li>
					{% for i in branches %}
					<li><a href="{{ macros.tree_url(repo, i, path) }}">{{ i }}</a></li>
					{% else %}
					<li class="disabled"><a href="#">none</a></li>
					{% endfor %}
					<li class="dropdown-header">Tags</li>
					{% for i in tags %}
					<li><a href="{{ macros.tree_url(repo, i, path) }}">{{ i }}</a></li>
					{% else %}
					<li class="disabled"><a href="#">none</a></li>
					{% endfor %}
				</ul>
			</li>
		</ul>
		
		<p class="navbar-text">
			/ <a href="/">repos</a>
			/ <a href="{{ macros.tree_url(repo, ref_link, '') }}">{{ repo }}</a>
			{% for p in breadcrumbs %}
				/ <a href="{{ p }}">{{ p }}</a>
			{% endfor %}
		</p>
	</div>
</div>