{% extends "interface.html" %}
{% import "macros.inc" as macros %}

{% block content %}

{% include "path_header.html" %}

{% if commit %}
<div id="section-commit">
	<div class="panel panel-info">
	
		<div class="panel-heading">
			{{ commit.message }}
		</div>
	
		<div class="panel-body">
			<span class="pull-right"><small>commit {{ macros.commit_link(repo, commit.id) }}</small></span>
			{{ author_gravatar(commit.author) }} <small>{{ author_link(commit.author) }} authored {{ timesince(commit.commit_time) }} ago</small>
		</div>
	
		<table class="table table-condensed">
		{% for icon, name, message, mode, time in listing %}
			<tr>
				<td>{{ macros.glyphicon(icon) }} &nbsp; <a href="{{ macros.tree_url(repo, ref_link, path+'/'+name) }}">{{ name }}</a></td>
				<td>{{ message }}</td>
				<td>{{ mode }}</td>
				<td class="min">{{ time }}</td>
			</tr>
		{% endfor %}
		</table>
	
	</div>
</div>
{% endif %}

{% if data %}
<div id="section-file">
	<div class="panel panel-default">
		<div class="panel-heading">
			{{ filename }}
			<small class="text-muted">&nbsp;{{ language }}</small>
			<a class="pull-right" href="{{ macros.history_url(repo, sha, filename) }}">{{ macros.glyphicon("sort-by-attributes-alt") }} History</a>
		</div>
		<div class="panel-body">{{ data|safe }}</div>
	</div>
</div>
{% endif %}

{% endblock %}
